.center {
    text-align: center;
    align-content: center;
}

.color {
    color: blue;
}

.first-table {
    width: 80%;
}

.first-table th,
.first-table td {
    text-align: left;
    /*width: 100%;*/
    border: 1px solid black;
    text-align: center;
}
.first-table th {
    background: tan;
}

hr {
    width: 10%;
    float: left;
}

column {
    border: 1px solid black
}

table {
    margin: 0px 20px 0px 20px;
}

.mainPanel {
    margin: 200px;
}

.my_form {
    margin-left: 20px;
}

.findByName_Home {
    margin-left: 10px;
}

.generalSets {
    margin-left: 20px;
}

.error {
    color: red;
    margin-left: 20px;
}





















